<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Fondo</servlet-name>
        <servlet-class>negocio.Fondo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cuenta</servlet-name>
        <servlet-class>negocio.Cuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionUsuarios</servlet-name>
        <servlet-class>negocio.GestionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>negocio.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fondo</servlet-name>
        <url-pattern>/Fondo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cuenta</servlet-name>
        <url-pattern>/Cuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionUsuarios</servlet-name>
        <url-pattern>/GestionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
